.allItems {
    #route{
        padding-left: 50px;
        font-size: 17px;
        color:#3c4a69;
    }
  h1 {
    padding: 20px;
    text-align: center;
  }
  .offer {
    background-color: rgba(255, 183, 0, 0.426);
    padding: 20px;
    width: 50vw;
    margin: auto;
    p {
      text-align: center;
      font-size: 25px;
    }
  }
}
